{% extends 'head.html' %}
{% block content %}
    <div class="container">
        <h1>Транзакції</h1>
        <table border="3" class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Категорія</th>
                <th scope="col">Тип Операції</th>
                <th scope="col">Сума</th>
                <th scope="col">Дата</th>
                <th scope="col">Опис</th>
                <th scope="col">Редагування</th>
                <th scope="col">Видалення</th>
            </tr>
            </thead>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.typeOper.name }}</td>
                    <td>{{ product.suma }}</td>
                    <td>{{ product.created }}</td>
                    <td>{{ product.description }}</td>
                    <td>
                        <a href="{% url 'update_transaction' product.id %}">
                            <img src="https://img.icons8.com/ios-glyphs/30/000000/edit.png">
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'delete_transaction' product.id %}">
                            <img src="https://img.icons8.com/ios-glyphs/30/000000/delete-sign.png">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a class="btn btn-success" href="{% url 'create_transaction' %}">New product</a>
    </div>
{% endblock %}